<li><%= link_to Page.model_name.titleize.pluralize, main_app.admin_pages_path %></li>
<li><%= link_to Article.model_name.titleize.pluralize, main_app.admin_articles_path %></li>
<li><%= link_to CalendarEntry.model_name.titleize.pluralize, main_app.admin_calendar_entries_path %></li>
<li><%= link_to GalleryImage.model_name.titleize.pluralize, main_app.admin_gallery_images_path %></li>
<li><%= link_to Link.model_name.titleize.pluralize, main_app.admin_links_path %></li>
<li><%= link_to PointOfContact.model_name.titleize.pluralize, main_app.admin_point_of_contacts_path %></li>
<li><%= link_to Testimonial.model_name.titleize.pluralize, main_app.admin_testimonials_path %></li>
<!--<li><%= link_to Website.model_name.titleize.pluralize, main_app.admin_websites_path %></li>-->
<%# END OF LIST %>
